@using System.Security.Claims
@using IdentityDemo.Infrastructure

@model IEnumerable<Claim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Claims</h2>

<div class="row col-md-12">
    <div class="card" style="width: inherit;">
        <div class="card-header bg-dark text-white">
            Claims
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Subject</th>
                    <th>Issuer</th>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
                @foreach(Claim claim in @Model.OrderBy(x => x.Type))
                {
                    <tr>
                        <td>@claim.Subject</td>
                        <td>@claim.Issuer</td>
                        <td>@Html.ClaimType(claim.Type)</td>
                        <td>@claim.Value</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>