@model IdentityDemo.Models.CreateUserModel

@{
    ViewBag.Title = "Create New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create User</h2>
<br />
<div class="row col-md-12">


	@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { @class = "form-horizontal col-md-6" }))
	{
		@*@Html.ValidationSummary(true, "", new { @class = "alert alert-danger validation-errors" })*@

		if (ViewBag.Errors != null)
		{
			<span class="alert alert-danger">
				@foreach (string error in ViewBag.Errors)
				{
					@error<br />
				}
			</span><br /><br />
		}
		@Html.AntiForgeryToken()

		<div class="form-group">
			@Html.LabelFor(m => m.Name)
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter User Name" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Email)
			@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Password)
			@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.City)
			@Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Enter City" })
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Add User</button>
			<a href="@Url.Action("Index", "Admin")" class="btn btn-danger">Cancel</a>
		</div>
	}
</div>
